- @page_title = "Editing #{@stanza.title}"

.content_wrapper

  .properties
    .view_button
      = link_to 'View Stanza', stanza_path(@stanza)
    .delete_button
      = link_to 'Delete Stanza', stanza_path(@stanza), :method => :delete, :confirm => "Are you sure you want to permenantly remove #{@stanza.title}?"

  %h1== Edit &quot;#{@stanza.title}&quot;

  - form_for @stanza, :url => stanza_path do |f|

    = f.error_messages
 
    = f.label :title
    = f.text_field :title

    %br

    = f.label :public, 'Public?'
    = f.check_box :public

    %br

    = f.text_area :body

    %br
 
    = f.label :copyright_notice, 'Copyright Details'
    = f.text_field :copyright_notice

    %br

    = f.submit 'Save Changes'