- @page_title = "#{@stanza.title} by #{@stanza.user.public_name}"

#sidebar_stanza_lists
  - description = "Recently by #{link_to @stanza.user.public_name, @stanza.user}"
  = render :partial => 'stanzas/list', :locals => { :stanzas => @more_by_author, :name => description, :show_author => false }
  - unless @most_discussed_by_author.map.empty? # is this collection empty? - avoid 'count'
    = render :partial => 'stanzas/list', :locals => { :stanzas => @most_discussed_by_author, :name => 'Most Discussed', :show_author => false }  

%article.stanza

  .title
    =h @stanza.title

  .byline
    == by #{link_to @stanza.user.public_name, @stanza.user}
    - if @stanza.user == current_user
      %em= "(#{link_to 'edit', edit_stanza_path(@stanza)})"

  .content= h(@stanza.body).gsub(/\n/, '<br/>')

  - unless @stanza.copyright_notice.blank?
    .copyright= @stanza.copyright_notice

.clear

- comments = @stanza.comments.all(:include => [:user])
- no_comments = comments.map.empty?
- if user_logged_in? || !no_comments
  #comment_section

    = render :partial => 'comments/list', :locals => { :comments => @stanza.comments.all(:include => [:user]) }

    - if user_logged_in?
      = render :partial => 'comments/form', :locals => { :stanza => @stanza }