- @page_title = "#{@stanza.title} by #{@stanza.user.public_name}"

- unless @stanza.user == current_user
  #sidebar_stanza_lists
    - description = "Recently by #{link_to @stanza.user.public_name, @stanza.user}"
    = render :partial => 'stanzas/list', :locals => { :stanzas => @more_by_author, :name => description, :show_author => false }
    - unless @most_discussed_by_author.map.empty? # is this collection empty? - avoid 'count'
      = render :partial => 'stanzas/list', :locals => { :stanzas => @most_discussed_by_author, :name => 'Most Discussed', :show_author => false }  

%article.stanza

  - if @stanza.user == current_user
    .properties
      - unless @stanza.public?
        .private= link_to 'private', edit_stanza_path(@stanza)
      .edit_button
        = link_to 'edit', edit_stanza_path(@stanza)

  .title
    =h @stanza.title

  .byline
    == by #{link_to @stanza.user.public_name, @stanza.user}
    == on #{(@stanza.updated_at || @stanza.created_at).to_s(:long_ordinal)}

  .content= h(@stanza.body).gsub(/\n/, '<br/>')

  - unless @stanza.copyright_notice.blank?
    .copyright= @stanza.copyright_notice

.clear

= render :partial => 'global/adsense'

- comments = @stanza.comments.order('created_at DESC').all(:include => [:user])
- no_comments = comments.map.empty?
- if user_logged_in? || !no_comments
  #comment_section

    = render :partial => 'comments/list', :locals => { :comments => comments, :author => @stanza.user }

    - if user_logged_in?
      = render :partial => 'comments/form', :locals => { :stanza => @stanza }