%html

  %head
    %title= @page_title
  
  %body
    #site_name= CONFIG[:site_name]
    %hr
    = yield
    %hr
      %em
        == Site by #{CONFIG[:john_name]}
        = mail_to CONFIG[:john_email], "#{CONFIG[:john_email]}"