%html

  %head
    %title= @page_title
  
  %body
    #site_name
      = link_to CONFIG[:site_name], root_url
    %hr
    = yield
    %hr
      %em
        == Site by #{CONFIG[:john_name]}
        = mail_to CONFIG[:john_email], "#{CONFIG[:john_email]}"