- @page_title = 'Edit Account'

.content_wrapper

  %h1 Edit My Information

  - form_for @user, :url => account_path do |f|
  
    = f.error_messages
 
    %br

    = f.label :display_name
    = f.text_field :display_name
    .description ie: &quot;John Smith&quot;

    %br

    = f.label :short_name
    = f.text_field :short_name
    .description= "#{root_url}users/<em>example</em>"

    %br

    %hr

      .description Some Information About You
    = f.text_area :biography

    %br

    %hr
  
    = f.label :email
    = f.text_field :email

    %br

    = f.label :password
    = f.password_field :password

    %br
 
    = f.label :password_confirmation, 'Verify Password'
    = f.password_field :password_confirmation

    %br

    = f.submit 'Update'