- @page_title = 'Register'

.content_wrapper

  %h1 Register

  - form_for @user, :url => account_path do |f|
  
    = f.error_messages
    
    = f.label :email
    = f.text_field :email

    %br

    = f.label :display_name
    = f.text_field :display_name
    %span.description ie: &quot;John Smith&quot;

    %br

    = f.label :password
    = f.password_field :password

    %br

    = f.label :password_confirmation, 'Verify Password'
    = f.password_field :password_confirmation

    %br

    = f.submit 'Register'  